*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: wheat;
  text-align: center;
  font-size: 2em;
  margin-bottom: 25px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  row-gap:10px;
  column-gap: 10px;
}
.a{
  background-color: green;
  width: 80vw;
}
.b{
  background-color: royalblue;
  width: 80vw;
  height: 40vh;
  margin-bottom: 10px;
}
.c{
  background-color: orange;
  width: 25vw;
  height: 20vh;
}
.d{
  background-color: gray;
  width: 25vw;
  height: 20vh;
}
.e{
  background-color: black;
  width: 25vw;
  height: 20vh;
}
.f{
  background-color: paleturquoise;
  width: 80vw;
  height: 20vh;
}

/* desktop version */
@media (min-width: 600px){
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  row-gap:10px;
  column-gap: 10px;
}

.a{
  background-color: maroon;
  width: 75%;
  height: 25vh;

  }
.b{
  flex-direction: row;
  width: 60%;
  height: 25vh;
  background-color: violet;
}
.c{
  background-color: royalblue;
  width: 25%;
  height: 25vh;
}

.d{
  background-color: orange;
  width: 25%;
  height: 25vh;
}

.e{
  background-color: lightcoral;
  width: 25%;
  height: 25vh;
}
.f{
  width: 18vw;
  height: 75vh;
  background-color: red;
}
}